:root {
  --color-body: #191b1f;
  --color-card-bg: #44474d;
  --color-card-shadow: rgba(202, 178, 156, 0.4);
  --color-button-bg: #aeb1c5;
  --color-button-bg-hover: #d7d8e2;
  --color-button-text: var(--color-body);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-body);
  font-family: 'Roboto', sans-serif;
  color: rgb(236, 237, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}