@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&family=Roboto:wght@100;300;400;500&display=swap);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #282421;
  font-family: 'Roboto', sans-serif;
  color: rgb(243, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}